@use './styles/_variables' as *
@use './styles/navbar'
@use './fonts/montserrat'
@use './styles/contacts'
@use './styles/home'
@use './styles/projects'

*
    box-sizing: border-box

body, html
    font-family: 'Montserrat', sans-serif
    font-weight: 450
    overflow: hidden
    margin: 0
    padding: 0
    background-color: $midnight-sea
    -webkit-tap-highlight-color: transparent

::selection
    background-color: $branding-accent
    color: $midnight-sea

#app
    width: 100%
    height: 100%

.background
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: radial-gradient(circle at 75% -5%, $lighter-sea 0%, $dark-sea 10%, rgba(0, 0, 0, 0) 50%)
    background-size: cover
    background-repeat: no-repeat
    overflow: hidden

.NF
    @extend %centerit
    color: $text-base
    text-align: center
    gap: $space-xs
    animation: showup 0.5s
    .head
        font-weight: 900
        font-size: $font-xl
        letter-spacing: 0.07em
    .sub
        font-weight: 400
        font-size: $font-lg
        letter-spacing: 0.05em

.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: absolute
    width: 100%
    height: 100%
    z-index: 1000
    overflow: hidden

.grain-overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url(@/assets/images/noise.webp)
    pointer-events: none
    z-index: 9999

.ManaFlow
    position: absolute
    inset: 0
    z-index: 2
    display: flex
    align-items: center
    justify-content: center
