@use './_variables' as *

.navbar-container
    padding: 50px 125px
    display: flex
    position: sticky
    justify-content: center
    top: 0
    gap: 25px
    z-index: 1100

.menu
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    gap: 25px
    .menulink
        font-weight: bold
        color: $text-base
        font-size: 1rem
        letter-spacing: 0.1em
        text-decoration: none
        display: flex
        align-items: center
        justify-content: center
        position: relative
        transition: 0.15s linear
        &::after
            content: ''
            display: block
            position: absolute
            background: $text-base
            bottom: -10px
            width: 3px
            height: 3px
            border-radius: 6px
            transition: all 0.15s linear
            opacity: 0
        &:hover::after
            opacity: 1
        &.menulink-active::after
            width: 100%
            opacity: 1
    .divider
        width: 5px
        height: 5px
        background-color: $lighter-sea
        border-radius: 100%

@media (max-width: 768px)
    .navbar-container
        padding: 40px 40px
    .menu
        gap: 20px

@media (max-width: 480px)
    .navbar-container
        padding: 35px 20px
    .menu
        gap: 15px
        .menulink
            font-size: 0.875rem
